# designer 3000
# manager 3001
# sumission-api 3002
# audit-api 3003
# entitlement-api 3004

# forms-designer
AZURE_CLIENT_ID="local-test-client"
AZURE_CLIENT_SECRET="local-mock-secret"
OIDC_WELL_KNOWN_CONFIGURATION_URL="http://localhost:5556/.well-known/openid-configuration"
REDIS_USERNAME=default
REDIS_PASSWORD=my-password

FEATURE_FLAG_USE_ENTITLEMENT_API=false


# forms-manager
MANAGER_OIDC_JWKS_URI="http://host.docker.internal:5556/.well-known/openid-configuration/jwks"
MANAGER_OIDC_VERIFY_AUD="local-test-client"
MANAGER_OIDC_VERIFY_ISS="http://oidc:80"

# forms-runner
RUNNER_SESSION_COOKIE_PASSWORD="53409gjhfcdiklgjidfglkgjdflkelrku634"

# submission-api
SUBMISSION_OIDC_JWKS_URI="http://host.docker.internal:5556/.well-known/openid-configuration/jwks"
SUBMISSION_OIDC_VERIFY_AUD="local-test-client"
SUBMISSION_OIDC_VERIFY_ISS="http://oidc:80"

# entitlement-api
ENTITLEMENT_OIDC_JWKS_URI="http://host.docker.internal:5556/.well-known/openid-configuration/jwks"
ENTITLEMENT_OIDC_VERIFY_AUD="local-test-client"
ENTITLEMENT_OIDC_VERIFY_ISS="http://oidc:80"
